.center {
    text-align: center;
}
.center * {
    margin-right: auto;
    margin-left: auto;
}
.cancelCenter * {
    margin-right: 0;
    margin-left: 0;
}

/* Folktale内のabbrの下線除去 */
abbr[title] {
    text-decoration: none;
    border-bottom-width: 0;
}

.markdownH2 {
    margin: 55px 0 25px;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, #035c1d, #047c28);
    border-radius: 5px;
}

.breadcrumbs,
.ninjaGameTop,
.whiteShadow {
    text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white,
        0px 0px 4px white, 0px 0px 5px white, 0px 0px 5px white,
        0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white,
        0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white,
        0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white,
        0px 0px 6px white, 1px 1px 6px white, -1px 1px 6px white,
        1px -1px 6px white, -1px -1px 6px white, 2px 2px 6px white,
        -2px 2px 6px white, 2px -2px 6px white, -2px -2px 6px white,
        3px 3px 6px white, -3px 3px 6px white, 3px -3px 6px white,
        -3px -3px 6px white, 0px 0px 8px white, 1px 1px 8px white,
        -1px 1px 8px white, 1px -1px 8px white, -1px -1px 8px white,
        2px 2px 8px white, -2px 2px 8px white, 2px -2px 8px white,
        -2px -2px 8px white, 3px 3px 8px white, -3px 3px 8px white,
        3px -3px 8px white, -3px -3px 8px white, 0px 0px 10px white,
        1px 1px 10px white, -1px 1px 10px white, 1px -1px 10px white,
        -1px -1px 10px white, 2px 2px 10px white, -2px 2px 10px white,
        2px -2px 10px white, -2px -2px 10px white, 3px 3px 10px white,
        -3px 3px 10px white, 3px -3px 10px white, -3px -3px 10px white,
        3px 3px 10px white, -3px 3px 10px white, 3px -3px 10px white,
        -3px -3px 10px white;
}

.hoverScale05 {
    transition: all 0.5s;
    z-index: 0;
}

.hoverScale05:hover {
    transform: scale(1.05, 1.05);
    z-index: 100;
}

/*
    font-weight
*/
.bold {
    font-weight: bold;
}

/*
    font-size
*/
.small {
    font-size: small;
}
.large {
    font-size: large;
}
.x-large {
    font-size: x-large;
}
.xx-large {
    font-size: xx-large;
}

/*
    color
*/
.red {
    color: red;
}

/*
    white-space
*/
.nowrap {
    white-space: nowrap;
}

/*
    width
*/
.fullWidth {
    width: 100%;
}

/*
    opacity
*/
.opacity0 {
    opacity: 0;
}
.opacity1 {
    opacity: 1;
}
