html {
    /* ダブルクリックによるズーム防止 */
    touch-action: manipulation;
    /* スマホ長押しによる反転防止 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

@media screen and (orientation: landscape) {
    /* 横画面 */
    #ninja-game #gameScreen {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: auto;
    }
}

@media screen and (orientation: portrait) {
    /* 縦画面 */

    #ninja-game #Page2 {
        transform-origin: left top;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    #ninja-game #gameScreen {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: auto;
    }
}

#ninja-game .water {
    background-color: skyblue;
    opacity: 0.5;
}

#ninja-game .outOfScreen {
    background-color: black;
    z-index: 9999999;
}
