.says {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 10px;
    padding: 17px 13px;
    border-radius: 12px;
    background: antiquewhite;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid antiquewhite;
}

.says p {
    margin: 0;
    padding: 0;
}

.ninjaPic {
    animation: 10s linear infinite ninjaCommentAnime;
    animation-delay: 1s;
}
@keyframes ninjaCommentAnime {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    2% {
        transform: translate3d(0px, -10px, 0px);
    }
    5% {
        transform: translate3d(0px, 0px, 0px);
    }
    7% {
        transform: translate3d(0px, -10px, 0px);
    }
    10% {
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
